:host {
    display: inline-block;
}

.border {
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 5px;
}

.children {
    display: flex;
    justify-content: space-around;
}